## Ansible maintained /etc/hosts file.
## Don't edit /etc/hosts yourself.
## Edit the template: proxmox-ansible/roles/proxmox-server/tasks/hosts.j2

127.0.0.1 localhost.localdomain localhost

# The following lines are desirable for IPv6 capable hosts

::1     ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
ff02::3 ip6-allhosts

# Cluster IPs
{% for host in groups['proxmox'] %}
{{ hostvars[host].ansible_default_ipv4.address }} {{ proxmox_master_node }} {{ proxmox_master_node }}.{{ proxmox_domain }}
{% endfor  %}
